* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  max-width: 595px;
  margin: 0 auto;
}
.main {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
}

/*<===============left_info===============>*/
.left_info {
  flex-basis: 31%;
  display: flex;
  flex-direction: column;
  background-color: #174180;
  padding-left: 1rem;
  color: white;
  padding-bottom: 0.625rem;
}
.left_info__content {
  flex: 1 0 auto;
}
.rss_logo {
  flex: 0 0 auto;
  margin-right: 5px;
}
/*<=========== header ===========> */
.header {
  display: flex;
  flex-direction: column;
}
.header__photo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 45px 16px 15px 16px;
  overflow: hidden;
}
.header__photo img {
  width: 100%;
}
.header__name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
}
.header__profession {
  font-size: 14px;
}
.header__contacts {
  padding-left: 1rem;
  font-size: 0.625rem;
  color: #56ccf2;
}
#contact-1 {
  list-style-image: url("../sources/mail.svg");
}
#contact-2 {
  list-style-image: url("../sources/github.svg");
}
#contact-3 {
  list-style-image: url("../sources/telegram.svg");
}
/*<==========skills============>*/
.left_info__wrapper__inner {
  font-size: 0.5rem;
  padding-left: 0px;
  margin-top: 5.39px;
  margin-bottom: 5.39px;
}
.left_info__wrapper__inner li {
  list-style-type: none;
}
.left_info__wrapper__heading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0px;
  color: #56ccf2;
}

/*<============right_info=============>*/
.right_info {
  display: flex;
  flex-direction: column;
  flex-basis: 69%;
}
.right_info__wrapper {
  margin-left: 1.67em;
  font-size: 0.75rem;
}
.right_info__wrapper p {
  word-break: break-all;
}
.right_info__wrapper__heading {
  font-size: 1rem;
  font-weight: bold;
}
.right_info__wrapper pre {
  font-size: 0.75rem;
  margin: 0;
}
.right_info__year {
  margin-left: 1rem;
  text-align: right;
}
/*<==============navigation============>*/
.menu {
  text-align: right;
  margin-top: 5px;
}
.menu:hover {
  cursor: pointer;
}
.nav_hidden {
  display: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  padding-top: 5px;
}
.nav li {
  display: inline-block;
}
.nav li a {
  color: black;
  font-size: 0.75rem;
  text-decoration: none;
}
.nav li a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}
.nav li a:hover::after {
  width: 100%;
}
/*<=================projects==============>*/
.projects {
  list-style-type: none;
  padding-left: 0px;
}
.projects__elem a {
  text-decoration: none;
  color: black;
}
